@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

:root {
  --primary: #800020;
  --secondary: #ffd594;
  --gray1: #f9fbff;
  --gray2: #f4f6fb;
  --gray3: #eef1f6;
  --gray4: #e1e5ee;
  --gray5: #767b91;
  --gray6: #4f546c;
  --gray7: #2a324b;
  --gray8: #161d34;
  --radius: 0.4rem;
  --background: url("../assets/backgroundgray.jpg");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.overlayfacebooklinkaccount {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem 1.5rem;
  font-size: 1rem;
}

.modalfacebooklinkaccount_container {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12.5rem;
  height: 14rem;
  width: 25rem;
  overflow: hidden;
  box-shadow: 0 0 1rem var(--gray6);
  border-radius: var(--radius);
  display: flex;
  text-align: center;
  flex-direction: column;
  cursor: default;
  transition: transform 200ms ease-in;
  background-color: rgba(255, 255, 255, 1);
  z-index: 1;
  user-select: none;
}

.modalfacebooklinkaccount_title {
  margin-top: 1.5rem;
  padding: 0rem;
  user-select: none;
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
  color: var(--primary);
  border-radius: var(--radius);
  cursor: default;
  transition: background 200ms ease-in, color 200ms ease-in;
}
  
.modalfacebooklinkaccount_container:hover {
  transform: scale(1.04);
}

.modalfacebooklinkaccount_button1 {
  padding: 1rem;
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
  margin: 1rem;
  border: 0.1rem solid var(--primary);
  color: var(--primary);
  border-radius: var(--radius);
  cursor: pointer;
  transition: background 200ms ease-in, color 200ms ease-in;
  user-select: none;
}
  
.modalfacebooklinkaccount_button2 {
  padding: 1rem;
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
  margin: 1rem;
  border: 0.1rem solid var(--primary);
  color: var(--primary);
  border-radius: var(--radius);
  cursor: pointer;
  transition: background 200ms ease-in, color 200ms ease-in;
  user-select: none;
}
  
.modalfacebooklinkaccount_button1:hover {
  background: var(--primary);
  color: white;
}
  
.modalfacebooklinkaccount_button2:hover {
  background: var(--primary);
  color: white;
}
