@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.overlaymessageerror {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem 1.5rem;
  font-size: 1rem;
}

.modalmessageerror_container {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  height: min(23.5rem, min(58.75vh, 72vw));
  width: min(32rem, 80vw);
  overflow: hidden;
  box-shadow: 0 0 1rem var(--gray6);
  border-radius: var(--radius);
  display: flex;
  text-align: center;
  flex-direction: column;
  cursor: pointer;
  transition: transform 200ms ease-in;
  background-color: rgba(255, 255, 255, 0.85);
  z-index: 1;
  user-select: none;
}

.modalmessageerror_blurhash {
  position: absolute;
  top: 0;
  left: 0;
  height: min(15rem, min(37.5vh, 51.05vw));
  width: 100%;
  object-fit: cover;
  margin-bottom: min(1rem, min(2.75vw, 2.75vh));
  pointer-events: none;
}

.modalmessageerror_image {
  position: absolute;
  top: 0;
  left: 0;
  height: min(15rem, min(37.5vh, 51.05vw));
  width: 100%;
  object-fit: cover;
  margin-bottom: min(1rem, min(2.5vw, 2.5vh));
  pointer-events: none;
}

.modalmessageerror_title {
  margin-top: min(15.5rem, min(38.75vh, 52.75vw));
  padding: 0rem;
  user-select: none;
}
  
.modalmessageerror_container:hover {
  transform: scale(1.04);
}

.modalmessageerror_button1 {
  padding: min(1rem, min(2.5vw, 2.5vh));
  font-family: inherit;
  font-weight: bold;
  font-size: min(1rem, min(2.5vw, 2.5vh));
  margin: min(1rem, min(2.5vw, 2.5vh));
  border: min(0.1rem, min(0.25vw, 0.25vh)) solid var(--primary);
  color: var(--primary);
  border-radius: var(--radius);
  cursor: pointer;
  transition: background 200ms ease-in, color 200ms ease-in;
  user-select: none;
}
  
.modalmessageerror_button2 {
  padding: min(1rem, min(2.5vw, 2.5vh));
  font-family: inherit;
  font-weight: bold;
  font-size: min(1rem, min(2.5vw, 2.5vh));
  margin: min(1rem, min(2.5vw, 2.5vh));
  border: min(0.1rem, min(0.25vw, 0.25vh)) solid var(--primary);
  color: var(--primary);
  border-radius: var(--radius);
  cursor: pointer;
  transition: background 200ms ease-in, color 200ms ease-in;
  user-select: none;
}
  
.modalmessageerror_button1:hover {
  background: var(--primary);
  color: white;
}
  
.modalmessageerror_button2:hover {
  background: var(--primary);
  color: white;
}
