@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

:root {
  --primary: #800020;
  --secondary: #ffd594;
  --gray1: #f9fbff;
  --gray2: #f4f6fb;
  --gray3: #eef1f6;
  --gray4: #e1e5ee;
  --gray5: #767b91;
  --gray6: #4f546c;
  --gray7: #2a324b;
  --gray8: #161d34;
  --radius: 0.4rem;
  --background: url("../assets/backgroundgray.jpg");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Oxygen, sans-serif;
  margin: 0rem;
}

.feedback {
  background: var(--gray4) var(--background);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-size: 100%;
  transition: background 200ms ease-in;
}

[data-theme="lightmode"] {
  --background: url("../assets/backgroundgray.jpg");
}

[data-theme="darkmode"] {
  --background: url("../assets/backgrounddarkgray.jpg");
}

.feedbacktiles {
  display: grid;
  position: relative;
  margin-top: 5rem;
  margin-left: 4rem;
  margin-right: 4rem;
  margin-bottom: 4rem;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 45rem));
  justify-content: center;
  align-items: center;
  gap: 1.5rem 1.5rem;
  font-size: 1rem;
}

.feedbacktile {
  height: 30rem; /* adjust height to the size of the smartphone screen */
  width: 45rem; /* adjust for mobile screen */
  overflow: hidden;
  box-shadow: 0 0 1rem var(--gray6);
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  transition: transform 200ms ease-in;
  background-color: rgba(255, 255, 255, 0.85);
  text-align: center;
  user-select: none;
}

.feedbacktile_title {
  padding: 0rem;
  pointer-events: none;
}

.feedbacktile_description {
  padding: 0rem;
  pointer-events: none;
}

.feedbacktile_button {
  padding: 1rem;
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
  margin: 1rem;
  border: 0.1rem solid var(--primary);
  color: var(--primary);
  border-radius: var(--radius);
  cursor: pointer;
  transition: background 200ms ease-in, color 200ms ease-in;
  user-select: none;
}

.feedbacktile:hover {
  transform: scale(1.04);
}

.feedbacktile_button:hover {
  background: var(--primary);
  color: white;
}
