@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

:root {
  --primary: #800020;
  --secondary: #ffd594;
  --gray1: #f9fbff;
  --gray2: #f4f6fb;
  --gray3: #eef1f6;
  --gray4: #e1e5ee;
  --gray5: #767b91;
  --gray6: #4f546c;
  --gray7: #2a324b;
  --gray8: #161d34;
  --white: #ffffffd9;
  --second_transp: #ffd494bb;
  --radius: 0.4rem;
  --background: url("../assets/backgroundgray.jpg");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Oxygen, sans-serif;
  margin: 0rem;
}

.img {
  background: var(--gray4) var(--background);
  background-size: 100%;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  pointer-events: none;
  transition: background 200ms ease-in;
}

.learnanalyze {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transition: background 200ms ease-in;
}

.games_table {
  background-color: var(--white);
  z-index: -2;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: min(3rem, min(4.5vw, 4.5vh));
  width: min(50rem, min(90vw, 120vh));
  font-size: min(3rem, min(3vw, 3vh));
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius);
  box-shadow: 0 0 1rem var(--gray6);
  transition: transform 200ms ease-in;
  table-layout: fixed;
}

td {
  word-break: break-all;
}

.table_padding {
  padding-bottom: min(4rem, min(6vw, 6vh));
}

.games_table:hover {
  transform: scale(1.04);
}

.games_table_columns {
  border-collapse: separate;
  margin: auto;
  border-spacing: 3vmin 3vmin;
}

.games_table_header {
  color: var(--primary);
}

.analyze_button {
  padding: min(1rem, min(1.5vw, 1.5vh));
  font-family: inherit;
  font-weight: bold;
  font-size: min(1rem, min(3vw, 3vh));
  margin: 0rem;
  border: min(0.1rem, min(0.3vw, 0.3vh)) solid var(--primary);
  color: var(--primary);
  border-radius: var(--radius);
  cursor: pointer;
  transition: background 200ms ease-in, color 200ms ease-in;
  user-select: none;
}

.analyze_button:hover {
  background: var(--primary);
  color: white;
}

[data-theme="lightmode"] {
  --background: url("../assets/backgroundgray.jpg");
}

[data-theme="darkmode"] {
  --background: url("../assets/backgrounddarkgray.jpg");
}
