@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

:root {
  --primary: #800020;
  --secondary: #ffd594;
  --gray1: #f9fbff;
  --gray2: #f4f6fb;
  --gray3: #eef1f6;
  --gray4: #e1e5ee;
  --gray5: #767b91;
  --gray6: #4f546c;
  --gray7: #2a324b;
  --gray8: #161d34;
  --radius: 0.4rem;
  --background: url("../assets/backgroundgray.jpg");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Oxygen, sans-serif;
  margin: 0rem;
}

.learnanalyze {
  background: var(--gray4) var(--background);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%; /* delete if size of the components exceeds width of the view */
  height: 100%;
  background-size: 100%;
  transition: background 200ms ease-in;
}

[data-theme="lightmode"] {
  --background: url("../assets/backgroundgray.jpg");
}

[data-theme="darkmode"] {
  --background: url("../assets/backgrounddarkgray.jpg");
}
