@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

:root {
  --primary: #800020;
  --secondary: #ffd594;
  --gray1: #f9fbff;
  --gray2: #f4f6fb;
  --gray3: #eef1f6;
  --gray4: #e1e5ee;
  --gray5: #767b91;
  --gray6: #4f546c;
  --gray7: #2a324b;
  --gray8: #161d34;
  --radius: 0.4rem;
  --background: url("../assets/backgroundgray.jpg");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Oxygen, sans-serif;
  margin: 0rem;
}

.img {
  background: var(--gray4) var(--background);
  background-size: 100%;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  pointer-events: none;
  transition: background 200ms ease-in;
}

.login {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  transition: background 200ms ease-in;
}

[data-theme="lightmode"] {
  --background: url("../assets/backgroundgray.jpg");
  transition: background 200ms ease-in;
}

[data-theme="darkmode"] {
  --background: url("../assets/backgrounddarkgray.jpg");
}

.logintiles {
  display: grid;
  position: relative;
  margin-top: min(5rem, 6vh);
  margin-left: 4rem;
  margin-right: 4rem;
  margin-bottom: min(4rem, 6vh);
  grid-template-columns: repeat(auto-fit, minmax(min(90vw, 28rem)));
  justify-content: center;
  align-items: center;
  gap: 1.5rem 1.5rem;
  font-size: 1rem;
  padding-bottom: 2.5rem;
}

.logintile {
  height: 27rem;
  width: min(90vw, 28rem);
  overflow: hidden;
  box-shadow: 0 0 1rem var(--gray6);
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  transition: transform 200ms ease-in;
  background-color: rgba(255, 255, 255, 0.85);
  text-align: center;
  user-select: none;
}

.logintile_title {
  padding: 0rem;
  pointer-events: none;
}

.logintile_description {
  padding: 0rem;
  pointer-events: none;
}

.logintile_button1 {
  padding: 1rem;
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  border: 0.1rem solid var(--primary);
  color: var(--primary);
  border-radius: var(--radius);
  cursor: pointer;
  transition: background 200ms ease-in, color 200ms ease-in;
  user-select: none;
}

.logintile_button2 {
  padding: 1rem;
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  border: 0.1rem solid var(--primary);
  color: var(--primary);
  border-radius: var(--radius);
  cursor: pointer;
  transition: background 200ms ease-in, color 200ms ease-in;
  user-select: none;
}

.logintile_button3 {
  padding: 1rem;
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  border: 0.1rem solid var(--primary);
  color: var(--primary);
  border-radius: var(--radius);
  cursor: pointer;
  transition: background 200ms ease-in, color 200ms ease-in;
  user-select: none;
}

.logintile:hover {
  transform: scale(1.04);
}

.logintile_button1:hover {
  background: var(--primary);
  color: white;
}

.logintile_button2:hover {
  background: var(--primary);
  color: white;
}

.logintile_button3:hover {
  background: var(--primary);
  color: white;
}

.logintile_signuplink {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.logintile_resetlink {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.MuiAlert-root {
  height: 3rem;
  width: 28rem;
  bottom: 0rem;
  position: absolute;
}