@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

:root {
  --primary: #800020;
  --secondary: #ffd594;
  --gray1: #f9fbff;
  --gray2: #f4f6fb;
  --gray3: #eef1f6;
  --gray4: #e1e5ee;
  --gray5: #767b91;
  --gray6: #4f546c;
  --gray7: #2a324b;
  --gray8: #161d34;
  --radius: 0.4rem;
  --background: url("../assets/backgroundgray.jpg");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Oxygen, sans-serif;
  margin: 0rem;
}

.img {
  background: var(--gray4) var(--background);
  background-size: 100%;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  pointer-events: none;
  transition: background 200ms ease-in;
}

.play1vs1online {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transition: background 200ms ease-in;
}

[data-theme="lightmode"] {
  --background: url("../assets/backgroundgray.jpg");
}

[data-theme="darkmode"] {
  --background: url("../assets/backgrounddarkgray.jpg");
}

.chessboard {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 2rem var(--gray6);
  user-select: none;
}

.board_container {
  margin-top: 2.5rem; 
  margin-bottom: 2.5rem;
  max-width: min(90vw, 90vh);
  max-height: min(90vw, 90vh);
  width: 40rem;
  height: 40rem;
  margin-left: auto;
  margin-right: auto;
}

.board_padding {
  padding-bottom: min(2rem, 6vh);
}

.square {
  width: 12.5%;
  height: 12.5%;
}

.darksquare {
  background: rgba(255, 255, 255, 0) url("../assets/chessboard/darksquare.jpg");
  background-size: 100%;
}

.lightsquare {
  background: rgba(255, 255, 255, 0) url("../assets/chessboard/lightsquare.jpg");
  background-size: 100%;
}

.checksquare {
  background: rgba(255, 0, 0, 1);
  background-size: 100%;
}

.ismovesquare {
  background: rgba(255, 255, 0, 1);
  background-size: 100%;
}

.chessboardsquare {
  position: relative;
  width: 100%;
  height: 100%;
}

.piececontainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.piece_p {
  display: block;
  max-width: 48%;
  width: auto;
  height: auto;
  cursor: grab;
  margin-left: auto;
  margin-right: auto;
  pointer-events: none;
}

.piece_r {
  display: block;
  max-width: 48%;
  width: auto;
  height: auto;
  cursor: grab;
  margin-left: auto;
  margin-right: auto;
  pointer-events: none;
}

.piece_n {
  display: block;
  max-width: 53.5%;
  width: auto;
  height: auto;
  cursor: grab;
  margin-left: auto;
  margin-right: auto;
  pointer-events: none;
}

.piece_b {
  display: block;
  max-width: 47.5%;
  width: auto;
  height: auto;
  cursor: grab;
  margin-left: auto;
  margin-right: auto;
  pointer-events: none;
}

.piece_q {
  display: block;
  max-width: 54%;
  width: auto;
  height: auto;
  cursor: grab;
  margin-left: auto;
  margin-right: auto;
  pointer-events: none;
}

.piece_k {
  display: block;
  max-width: 51.5%;
  width: auto;
  height: auto;
  cursor: grab;
  margin-left: auto;
  margin-right: auto;
  pointer-events: none;
}

.promotionsquare {
  position: relative;
  min-width: 110%;
  min-height: 110%;
  cursor: pointer;
  z-index: 2;
  border: 0.25rem solid var(--primary);
  border-radius: var(--radius);
}

.promotioncontainer {
  background-color: var(--primary);
  background: rgba(255, 255, 255, 0) url("../assets/chessboard/lightsquare.jpg");
  background-size: 100%;
  transition: background 200ms ease-in, color 200ms ease-in;
}

.promotioncontainer:hover {
  background: var(--primary);
}

.promotionpiece_r {
  display: block;
  max-width: 52.8%;
  width: auto;
  height: auto;
  cursor: grab;
  margin-left: auto;
  margin-right: auto;
  pointer-events: none;
}

.promotionpiece_n {
  display: block;
  max-width: 58.85%;
  width: auto;
  height: auto;
  cursor: grab;
  margin-left: auto;
  margin-right: auto;
  pointer-events: none;
}

.promotionpiece_b {
  display: block;
  max-width: 52.25%;
  width: auto;
  height: auto;
  cursor: grab;
  margin-left: auto;
  margin-right: auto;
  pointer-events: none;
}

.promotionpiece_q {
  display: block;
  max-width: 59.4%;
  width: auto;
  height: auto;
  cursor: grab;
  margin-left: auto;
  margin-right: auto;
  pointer-events: none;
}

.number {
  position: absolute;
  font-size: 1rem;
  user-select: none;
}

.letter {
  position: absolute;
  font-size: 1rem;
  user-select: none;
}

.loading {
  position: absolute;
  font-size: 2rem;
  margin: 0;
  top: 67%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
}

.overlaychoosepiecesonline {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem 1.5rem;
  font-size: 1rem;
}

.modalchoosepiecesonline_container {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  margin-top: min(10rem, 8vh);
  height: min(15rem, min(50vw, 50vh));
  width: min(27rem, min(90vw, 90vh));
  overflow: hidden;
  box-shadow: 0 0 1rem var(--gray6);
  border-radius: var(--radius);
  display: flex;
  text-align: center;
  flex-direction: column;
  cursor: pointer;
  transition: transform 200ms ease-in;
  background-color: rgba(255, 255, 255, 0.85);
  z-index: 1;
  user-select: none;
}

.modalchoosepiecesonline_title {
  margin-top: min(1rem, min(3.3vw, 3.3vh));
  padding: 0rem;
  user-select: none;
}
  
.modalchoosepiecesonline_container:hover {
  transform: scale(1.04);
}

.modalchoosepiecesonline_button1 {
  padding: min(1rem, min(3.3vw, 3.3vh));
  font-family: inherit;
  font-weight: bold;
  font-size: min(1rem, min(3.3vw, 3.3vh));
  margin: min(1rem, min(3.3vw, 3.3vh));
  border: min(0.1rem, min(0.3vw, 0.3vh)) solid var(--primary);
  color: var(--primary);
  border-radius: var(--radius);
  cursor: pointer;
  transition: background 200ms ease-in, color 200ms ease-in;
  user-select: none;
}
  
.modalchoosepiecesonline_button2 {
  padding: min(1rem, min(3.3vw, 3.3vh));
  font-family: inherit;
  font-weight: bold;
  font-size: min(1rem, min(3.3vw, 3.3vh));
  margin: min(1rem, min(3.3vw, 3.3vh));
  border: min(0.1rem, min(0.3vw, 0.3vh)) solid var(--primary);
  color: var(--primary);
  border-radius: var(--radius);
  cursor: pointer;
  transition: background 200ms ease-in, color 200ms ease-in;
  user-select: none;
}

.modalchoosepiecesonline_button3 {
  padding: min(1rem, min(3.3vw, 3.3vh));
  font-family: inherit;
  font-weight: bold;
  font-size: min(1rem, min(3.3vw, 3.3vh));
  margin: min(1rem, min(3.3vw, 3.3vh));
  border: min(0.1rem, min(0.3vw, 0.3vh)) solid var(--primary);
  color: var(--primary);
  border-radius: var(--radius);
  cursor: pointer;
  transition: background 200ms ease-in, color 200ms ease-in;
  user-select: none;
}
  
.modalchoosepiecesonline_button1:hover {
  background: var(--primary);
  color: white;
}
  
.modalchoosepiecesonline_button2:hover {
  background: var(--primary);
  color: white;
}

.modalchoosepiecesonline_button3:hover {
  background: var(--primary);
  color: white;
}
