@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

:root {
  --primary: #800020;
  --secondary: #ffd594;
  --gray1: #f9fbff;
  --gray2: #f4f6fb;
  --gray3: #eef1f6;
  --gray4: #e1e5ee;
  --gray5: #767b91;
  --gray6: #4f546c;
  --gray7: #2a324b;
  --gray8: #161d34;
  --radius: 0.4rem;
  --background: url("../assets/backgroundgray.jpg");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Oxygen, sans-serif;
  margin: 0rem;
}

.img {
  background: var(--gray4) var(--background);
  background-size: 100%;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  pointer-events: none;
  transition: background 200ms ease-in;
}

.puzzles {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transition: background 200ms ease-in;
}

[data-theme="lightmode"] {
  --background: url("../assets/backgroundgray.jpg");
}

[data-theme="darkmode"] {
  --background: url("../assets/backgrounddarkgray.jpg");
}

.chessboard {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 2rem var(--gray6);
  user-select: none;
}

.board_container_puzzle {
  margin-top: min(0.5rem, min(1.05vw, 1.05vh)); 
  margin-bottom: 0rem;
  max-width: min(90vw, 90vh);
  max-height: min(90vw, 90vh);
  width: 40rem;
  height: 40rem;
  margin-left: auto;
  margin-right: auto;
}

.board_padding {
  padding-bottom: min(2rem, 6vh);
}

.square {
  width: 12.5%;
  height: 12.5%;
}

.darksquare {
  background: rgba(255, 255, 255, 0) url("../assets/chessboard/darksquare.jpg");
  background-size: 100%;
}

.lightsquare {
  background: rgba(255, 255, 255, 0) url("../assets/chessboard/lightsquare.jpg");
  background-size: 100%;
}

.checksquare {
  background: rgba(255, 0, 0, 1);
  background-size: 100%;
}

.ismovesquare {
  background: rgba(255, 255, 0, 1);
  background-size: 100%;
}

.hintsquare {
  background: rgba(135, 206, 250, 1);
  background-size: 100%;
}

.chessboardsquare {
  position: relative;
  width: 100%;
  height: 100%;
}

.piececontainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.piece_p {
  display: block;
  max-width: 48%;
  width: auto;
  height: auto;
  cursor: grab;
  margin-left: auto;
  margin-right: auto;
  pointer-events: none;
}

.piece_r {
  display: block;
  max-width: 48%;
  width: auto;
  height: auto;
  cursor: grab;
  margin-left: auto;
  margin-right: auto;
  pointer-events: none;
}

.piece_n {
  display: block;
  max-width: 53.5%;
  width: auto;
  height: auto;
  cursor: grab;
  margin-left: auto;
  margin-right: auto;
  pointer-events: none;
}

.piece_b {
  display: block;
  max-width: 47.5%;
  width: auto;
  height: auto;
  cursor: grab;
  margin-left: auto;
  margin-right: auto;
  pointer-events: none;
}

.piece_q {
  display: block;
  max-width: 54%;
  width: auto;
  height: auto;
  cursor: grab;
  margin-left: auto;
  margin-right: auto;
  pointer-events: none;
}

.piece_k {
  display: block;
  max-width: 51.5%;
  width: auto;
  height: auto;
  cursor: grab;
  margin-left: auto;
  margin-right: auto;
  pointer-events: none;
}

.promotionsquare {
  position: relative;
  min-width: 110%;
  min-height: 110%;
  cursor: pointer;
  z-index: 2;
  border: 0.25rem solid var(--primary);
  border-radius: var(--radius);
}

.promotioncontainer {
  background-color: var(--primary);
  background: rgba(255, 255, 255, 0) url("../assets/chessboard/lightsquare.jpg");
  background-size: 100%;
  transition: background 200ms ease-in, color 200ms ease-in;
}

.promotioncontainer:hover {
  background: var(--primary);
}

.promotionpiece_r {
  display: block;
  max-width: 52.8%;
  width: auto;
  height: auto;
  cursor: grab;
  margin-left: auto;
  margin-right: auto;
  pointer-events: none;
}

.promotionpiece_n {
  display: block;
  max-width: 58.85%;
  width: auto;
  height: auto;
  cursor: grab;
  margin-left: auto;
  margin-right: auto;
  pointer-events: none;
}

.promotionpiece_b {
  display: block;
  max-width: 52.25%;
  width: auto;
  height: auto;
  cursor: grab;
  margin-left: auto;
  margin-right: auto;
  pointer-events: none;
}

.promotionpiece_q {
  display: block;
  max-width: 59.4%;
  width: auto;
  height: auto;
  cursor: grab;
  margin-left: auto;
  margin-right: auto;
  pointer-events: none;
}

.number {
  position: absolute;
  font-size: 1rem;
  user-select: none;
}

.letter {
  position: absolute;
  font-size: 1rem; 
  user-select: none;
}
